
Library/PlayerDataCache/Win64/Data/sharedassets0.assets.resS
Library/PlayerDataCache/Win64/Data/sharedassets0.assets
Library/ArtifactDB
Library/ArtifactDB
Library/PlayerDataCache/Win64/Data/sharedassets0.resource
Library/PlayerDataCache/Win64/Data/sharedassets1.assets.resS
